@media (min-width: 768px) and (max-width: 1200px) {
    .main-menu ul li.megamenu .menu-wrapper {
        width: 940px
    }
    .img_list img {
        left: -25%
    }
    #search {
        padding: 0 15%;
        padding-top: 100px
    }
}
@media (max-width: 1024px) {
    .promo_full {
        background-attachment: scroll
    }
}
@media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 991px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 991px) {
    #logo_home h1 a,
    header#colored #logo_home h1 a {
        background-image: url(../img/logo_2x.png);
        background-size: auto 30px
    }
    header#plain #logo_home h1 a,
    header.sticky #logo_home h1 a {
        background-image: url(../img/logo_sticky_2x.png);
        background-size: auto 30px
    }
    header.sticky#colored #logo_home h1 a {
        background-image: url(../img/logo_sticky_colored_2x.png);
        background-size: auto 30px
    }
}
@media (max-width: 991px) {
    .sticky ul#top_tools,
    ul#top_tools {
        margin: 3px 0 0 45px
    }
    .now-reserve-btn{
        display: block;
    }
    .sticky nav {
        margin-top: 3px
    }
    nav {
        margin-top: 15px
    }
    header#plain {
        padding-bottom: 10px
    }
    header#plain.sticky {
        padding-bottom: 0
    }
    header #logo img.logo_normal,
    header #logo img.logo_sticky {
        width: auto;
        height: 30px
    }
    .main-menu ul li.megamenu .menu-wrapper {
        width: auto;
        margin-top: 20px
    }
    #single_tour_feat ul {
        margin-bottom: 10px
    }
    .review_strip_single.last {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px
    }
    a#email_footer,
    a#phone {
        font-size: 12px;800px
    padding-left: 25px;
        margin: 15px 0
    }
    a#email_footer:before,
    a#phone:before {
        font-size: 18px
    }
    #search {
        padding: 0 5%;
        padding-top: 130px
    }
    .plan {
        min-height: inherit
    }
    #hero_2 .intro_title h1,
    .parallax-content-1 div h1 {
        font-size: 42px
    }
    .parallax-content-1 div h1:after,
    .parallax-content-1 div h1:before {
        width: 30px
    }
    #hero_2 .intro_title h1:after,
    #hero_2 .intro_title h1:before {
        width: 30px
    }
    #map_filter ul li a {
        min-width: 100px
    }
    #map_filter ul li a span {
        font-size: 11px
    }
}
@media (min-width: 769px) and (max-width: 979px) {
    #map-container {
        height: 280px;
        position: relative;
        top: 0;
        overflow: hidden
    }
    #content-row {
        height: auto;
        padding-top: 0
    }
    .plan-tall+.plan {
        border: solid #ddd 1px
    }
    .plan-tall {
        margin-right: 0
    }
    .col-md-4.plan:first-child {
        margin-right: 0;
        margin-left: 0;
        border-right: solid #ddd 1px
    }
    .view_on_map {
        display: none
    }
    .full-height {
        height: auto
    }
    .row-height {
        height: auto
    }
    .content-left {
        height: auto;
        overflow-y: scroll
    }
}
@media (max-width: 768px) {
    .mobile-menu{
        display: block;
    }
    .comment-edit-h{
        margin-top: 80px;
        width: 100%;
    }
    .comment-panel-edit{
        width: 97%;
        padding: 2px;
    }
    .container-comment-panel{
        width: 100%;
        padding: 1px;
    }
    .comment-panel-btns{
        width: 104%;
    }
    .edit-comment-panel-btn{
        overflow-x: scroll;
    }
    .comments_delete_btn{
        overflow-x: scroll;
        font-size: 10px;
        width: 40px;
    }
    #publish_checkbox_submit{
        overflow-x: scroll;
        font-size: 10px;
    }
    #unpublish_checkbox_submit{
        overflow-x: scroll;
        font-size: 10px;
        width: 72px;
    }
    #see-room-btn{
        font-size: 9px;
        width: 55px;
        padding: 2px;
    }
    .room_address_single_hotel{
        font-size: 20px;
        padding: 8px;
        margin-top: -60px;
    }
    #unpublish_all_btn,#publish_all_btn{
        width: 100%;
    }
    .parallax-content-1 div {
        padding: 0 10%;
        font-size: 14px
    }
    .parallax-content-1 div h3 {
        font-size: 36px
    }
    .step {
        padding: 20px 31px 20px 31px
    }
    .cards {
        margin-top: 0;
        margin-bottom: 20px
    }
    #single_tour_feat ul li i {
        font-size: 28px
    }
    #hero_video a.video {
        display: inline-block
    }
    .login_social {
        margin-bottom: 5px
    }
    #search {
        padding: 0 5%;
        padding-top: 100px
    }
    .view_on_map {
        display: none
    }
    .full-height {
        height: auto
    }
    .row-height {
        height: auto
    }
    .content-left {
        height: auto;
        overflow-y: scroll
    }
    #newsletter_container h3 {
        font-size: 22px;
        margin: 0 0 20px 0
    }
    #newsletter_container input.form-control#email_newsletter_2 {
        width: 80%;
        margin: auto;
        margin-bottom: 15px
    }
    footer ul {
        margin: 0;
        padding: 0;
        list-style: none
    }
    .map-right #map {
        height: 450px
    }
    #rooms{
        width: 100%;
        margin-top: 110px;
    }
    .panel_menu{
        display: none;
    }
    .panel_menu ul{
        display: none;
    }
    .panel_menu li{
        display: none;
    }
    .panel_menu_mobile{
        display: block;
    }
    .add_new_room{
        width: 100%;
    }
    .table_admins {
        left: 0;
        width: 96%;
        margin-top: 75px;
        right: 0;
    }
    .edit_admin_panel{
        width: 100%;
    }
    .admin_info{
        width: 100%;
    }
    .administrator_admin,.no-result{
        margin-top: 58px;
        text-align: center;
        width: 100%;
    }
    #keyword-style{
        width: 100%;
    }
    .comment-panel {
        width: 100%;
    }
}
@media screen and (min-width: 349px) and (max-width: 768px){
    .add_new_room{
        margin-top: 44px;
        padding: 2px;
        background-color: #50B8E1;
    }
    .add_new_room a{
        color: white;
        margin-top: 10px;
    }
}
@media screen and (max-width: 348px){
    .add_new_room{
        margin-top: 64px;
        padding: 2px;
        background-color: #50B8E1;
    }
    .add_new_room a{
        color: white;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    #top_line {

    }
    .strip_all_tour_list {
        text-align: center
    }
    .img_list {
        width: 100%;
        margin: auto
    }
    .img_list img {
        left: 0;
        width: 100%;
        height: auto;
        top: -45%
    }
    .tour_list_desc {
        padding: 0 15px;
        border-right: none;
        height: auto
    }
    .price_list {
        display: block;
        height: auto;
        margin-left: 0;
        text-align: center;
        padding: 25px 0 15px 0
    }
    .price_list div {
        display: block;
        text-align: center
    }
    .price_list .button {
        display: block;
        margin: 15px
    }
    .main_title {
        font-size: 14px
    }
    .main_title h2 {
        font-size: 24px
    }
    .main_title p {
        font-size: 16px
    }
    .styled-select-cat select {
        background: 0 0;
        width: 107%;
        padding: 7px 5px 5px 45px;
        border: 0;
        border-radius: 0;
        height: 50px;
        margin: 0;
        font-weight: 400;
        -moz-appearance: window;
        -webkit-appearance: none;
        cursor: pointer;
        color: #888
    }
    .styled-select-cat {
        width: 100%;
        overflow: hidden;
        height: 50px;
        position: relative;
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
    }
    .styled-select-cat:before {
        font-style: normal;
        font-weight: 400;
        font-family: icon_set_1;
        font-size: 22px;
        content: "\53";
        position: absolute;
        left: 15px;
        top: 15px
    }
,
    .styled-select-cat::-ms-expand {
        display: none
    }
    .styled-select-cat select:focus {
        outline: 0
    }
    .table.cart-list,
    .table.cart-list tbody,
    .table.cart-list td,
    .table.cart-list th,
    .table.cart-list thead,
    .table.cart-list tr {
        display: block;
        border: 0
    }
    .table.cart-list thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    .table.cart-list tr {
        border: 1px solid #ccc
    }
    .table.cart-list td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%
    }
    .table.cart-list td:before {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap
    }
    .table.cart-list td:nth-of-type(1):before {
        content: "Item";
        font-weight: 700;
        color: #111
    }
    .table.cart-list td:nth-of-type(2):before {
        content: "Quantity";
        font-weight: 700;
        color: #111
    }
    .table.cart-list td:nth-of-type(3):before {
        content: "Discount";
        font-weight: 700;
        color: #111
    }
    .table.cart-list td:nth-of-type(4):before {
        content: "Total";
        font-weight: 700;
        color: #111
    }
    .table.cart-list td:nth-of-type(5):before {
        content: "Actions";
        font-weight: 700;
        color: #111
    }
    .thumb_cart {
        display: none
    }
    #single_tour_feat ul {
        display: block;
        margin-bottom: 10px
    }
    #single_tour_feat ul li {
        display: inline-block;
        width: auto;
        font-size: 11px
    }
    .margin_60 {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .margin_30 {
        margin-top: 15px;
        margin-bottom: 15px
    }
    #hero_2,
    .parallax-window {
        height: 240px;
        min-height: 240px
    }
    .parallax-content-1 {
        height: 240px
    }
    .parallax-content-1>div {
        padding: 0 5%;
        font-size: 12px;
        padding-top: 20px
    }
    .parallax-content-1 div h1,
    .parallax-content-1 div h3 {
        font-size: 20px;
        padding-top: 15px
    }
    #banner {
        padding: 20px
    }
    .banner a {
        position: relative;
        top: 15px;
        right: 0;
        left: 0;
        margin-bottom: 20px
    }
    .banner h4 {
        font-size: 22px
    }
    .strip_all_tour_list .tooltip-content-flip {
        width: 70px
    }
    .parallax-content-2 {
        padding-bottom: 15px
    }
    .parallax-content-2 div h1 {
        font-size: 22px
    }
    .parallax-content-2 .rating {
        font-size: 12px;
        display: block
    }
    #price_single_main,
    #price_single_main.hotel {
        font-size: 11px;
        text-align: right;
        padding-top: 0
    }
    #price_single_main span {
        font-size: 20px
    }
    #price_single_main sup {
        font-size: 20px;
        top: 0
    }
    #hero_2 .intro_title h1 {
        font-size: 22px
    }
    .bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
        font-size: 12px
    }
    #hero {
        height: 300px;
        font-size: 12px
    }
    .intro_title h1 {
        font-size: 26px;
        margin-bottom: 5px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase
    }
    .item_cart {
        margin-top: 0
    }
    .intro_title.error h1 {
        font-size: 50px
    }
    .radio_fix {
        margin-top: 10px
    }
    .col-md-4.plan:first-child,
    .col-md-4.plan:last-child {
        margin-right: 0;
        margin-left: 0;
        border-width: 1px 1px 1px 1px;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .plan-tall+.plan {
        border-left: 1px;
        border: solid #ddd
    }
    .plan-tall {
        margin-right: 0
    }
    #map_filter ul li a {
        min-width: inherit
    }
    #map_filter ul li a span {
        display: none
    }
    #map_filter ul li a i {
        font-size: 24px
    }
    #map_contact {
        height: 300px
    }
    #map_contact.contact_2 {
        margin-top: 60px
    }
    .content-left {
        padding-top: 80px
    }
    #top_line.visible_on_mobile {
        display: block
    }
    a#currency_link,
    a#lang_link {
        position: relative;
        text-indent: -999px;
        width: 20px;
        height: 20px;
        display: block
    }
    #currency_link:before,
    #lang_link:before {
        text-indent: 0;
        font-size: 20px
    }
    .dropdown-access .dropdown-menu:before {
        left: 5%
    }
    a#access_link,
    a#wishlist_link {
        position: relative;
        text-indent: -999px;
        width: 20px;
        height: 20px;
        display: block
    }
    #access_link:before,
    #wishlist_link:before {
        text-indent: 0;
        font-size: 20px
    }
}
@media (max-width: 480px) {
    .features-slider {
        padding: 11% 50px 10% 50px
    }
    .features-content {
        padding: 10%
    }
    .box_style_1 {
        padding: 15px
    }
    .box_style_1 h3.inner {
        margin: -15px -15px 15px -15px
    }
    .img_list img {
        right: 0;
        width: 100%;
        height: auto;
        top: -5%
    }
    .tooltip-item::after {
        width: 180px
    }
    .tooltip-content {
        width: 180px;
        margin: 0 0 20px -90px
    }
    .styled-select-filters {
        margin-bottom: 5px
    }
    .search_bar {
        width: 100%
    }
    a#access_link,
    a#wishlist_link {
        position: relative;
        text-indent: -999px;
        width: 20px;
        height: 20px;
        display: block
    }
    #access_link:before,
    #wishlist_link:before {
        text-indent: 0;
        font-size: 20px
    }
    #hero {
        height: 200px
    }
    .intro_title {
        display: none
    }
    ul#top_tools {
        margin: 0 0 0 25px
    }
    .sticky ul#top_tools {
        margin: 0 0 0 25px
    }
    .dropdown.dropdown-cart {
        display: none
    }
    .dropdown.dropdown-search {
        font-size: 20px
    }
    #testimonials h2 {
        font-size: 28px
    }
    #score {
        float: none;
        margin-top: 15px
    }
    .intro_title.error {
        display: table-cell
    }
    .intro_title.error h1 {
        font-size: 36px
    }
    .intro_title.error a.button_intro {
        display: none
    }
    #search {
        padding: 0 5%;
        padding-top: 100px
    }
    .promo_full_wp div h3 {
        font-size: 36px
    }
    .promo_full_wp div a i {
        font-size: 60px
    }
    #map_filter ul li a i {
        font-size: 18px
    }
}
@media screen and (min-width: 769px){
    .panel_menu{
        height: 100%;
        font-size: 15px;
    }
    .panel_menu li{
        border-bottom: 1px solid white;
        display: block;
        right: 0;
        width: 100%;
        float: right;
        list-style: none;
        margin-top: 12px;
    }
    .panel_menu_mobile,.panel_menu_mobile ul,.panel_menu_mobile li{
        display: none;
    }
    .add_new_room{
        font-weight: bold;
        font-size: 15px;
    }
    .publish select{
        width: 83.3%;
    }
}
@media screen and (min-width: 769px) and (max-width: 887px){
    .panel_menu ul{
        font-size: 12px;
    }
}
@media screen and (max-width: 405px){
    .captcha_code{
        display: block;
        width: 80%;
        margin-left: 10%;
    }
    .verify_review{
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .room_error_message{
        padding: 4px;
    }
    #room_error_message_inside{
        font-size: 13px;
    }
    .img_container{
        height: 181px;
        max-height: 181px;
    }
}
@media screen and (max-width: 420px){
    .img_list a img{
        height: 195px;
        max-height: 195px;
    }
}
@media screen and (min-width: 769px){
    .room_address_single_hotel{
        position: absolute;
        left: 71%;
        bottom: 60%;
    }
}
@media screen and (max-width: 1200px){
    .border-0-mobile{
        display: block;
        width: 100%;
    }
    .popover-header{
        max-width: 294px;
    }
    .mds-bootstrap-persian-datetime-picker-popover{
        margin-left: -200px;
    }
}
@media screen and (max-width: 370px){
    #reservation-content{
        text-align: center;
    }
    .room-person-count-reservation{
        float: none;
    }
}